/* Site nav */

.header .container {
  display: flex;
  align-items: center;
}

.nav-header {
  display: flex;
  align-items: center;
}

.nav-logo {
  margin-right: 85px;
}

.site-nav {
  display: flex;
  .site-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    @extend %transition;
  }
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-contacts-item {
  @extend %transition;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.nav-contacts-link {
  @extend %transition;
}

.header-icon-mail-svg {
  fill: $sprite-color;
  @extend %transition;
  width: 16px;
  height: 11px;
  margin-right: 10px;
  .nav-contacts-item:hover,
  .nav-contacts-item:focus,
  .nav-contacts-link:focus,
  .nav-contacts-link:hover {
    fill: $accent-color;
  }
}

.header-icon-phone-svg {
  fill: $sprite-color;
  @extend %transition;
  width: 10px;
  height: 15px;
  margin-right: 10px;
  .nav-contacts-item:hover,
  .nav-contacts-item:focus,
  .nav-contacts-link:focus,
  .nav-contacts-link:hover {
    fill: $accent-color;
  }
}

.main-page::after {
  display: block;
  content: "";
  height: 4px;
  border-radius: 2px;
  background: $accent-color;
}

.site-link:hover,
.site-link:focus,
.nav-contacts-link:hover,
.nav-contacts-link:focus,
.site-nav .current-site {
  color: $accent-color;
}

.button-item:hover,
.button-item:focus,
.portfolio-list-description:hover {
  color: $primary-white-color;
  background-color: $accent-color;
}

.team {
  .nav-contacts-link:hover,
  .nav-contacts-link:focus {
    background-color: $accent-color;
    fill: $sprite-color;
  }
}

.nav-contacts {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  &-link {
    color: $primary-text-color;
    text-decoration: none;
    font-style: normal;
  }
}

.nav-adress {
  margin-left: auto;
}
