/* modal window */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-form {
  position: relative;
  width: 528px;
  height: 581px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-white-color);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-title {
  width: 448px;
  height: 23px;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  cursor: pointer;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  fill: var(--accent-color);
}

.modal-form-input-wrapper {
  /* width: 448px;
  height: 120px; */
  position: relative;
  margin-bottom: 28px;
}
.modal-form-input-textarea {
  position: relative;
  margin-bottom: 20px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input {
  position: relative;
  width: 448px;
  height: 40px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  padding-left: 42px;
  color: var(--accent-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-email {
  height: 30px;
  padding-left: 46px;
}

.modal-form-input,
.modal-form-message {
  display: block;
  width: 100%;
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  border: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  position: relative;
  width: 448px;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-right: 16px;
  resize: none;
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1, 14;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
}

.modal-form-input:focus,
.modal-form-message:focus,
.modal-form-input:not(:placeholder-shown),
.modal-form-message:not(:placeholder-shown) {
  border-color: var(--accent-color);
}

.modal-form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.1em;

  color: var(--primary-text-color);
  transition: transform 250ms linear;
}

.modal-form-input:focus + .modal-form-label,
.modal-form-input:not(:placeholder-shown) + .modal-form-label {
  transform: translate(-40px, -40px);

  color: var(--accent-color);
}

.modal-form-message-upper {
  top: 0;
  left: 0;
  transform: translateY(-150%);
  position: absolute;
  font-size: 12px;
  color: var(--primary-text-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-option-label {
  /* display: block; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: auto;
  margin-right: auto; */
  margin-bottom: 30px;
}

.modal-form-custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  outline: 1px solid #000;
  margin-right: 15px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-option-span {
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-text-color);
}

.modal-form-option-span a {
  color: var(--accent-color);
}

.modal-svg {
  position: absolute;
  /* display: inline-block;
  align-items: center; */
  top: 50%;
  left: 22px;
  transform: translate(-50%, -50%);
  background-size: contain;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--title-text-color);
}

.checkbox-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-size: contain;

  /* opacity: 0; */
  fill: var(--primary-white-color);
}

.modal-form-input:focus ~ .modal-svg,
.modal-form-input:not(:placeholder-shown) ~ .modal-svg {
  fill: var(--accent-color);
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox {
  background-color: var(--accent-color);
  outline: none;
  background-origin: border-box;
}

.modal-form-checkbox:focus .modal-svg {
  fill: var(--accent-color);
}

.modal-form-checkbox:checked .checkbox-svg {
  fill: var(--primary-white-color);
  /* opacity: 1; */
}

.modal-form-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: var(--primary-white-color);
  width: 200px;
  height: 50px;
  border-style: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* border: 1px solid var(--sprite-color); */
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
